params {
    max_memory = '7.GB'
    max_cpus   = 4
    max_time   = '24.h'
}

process {
    // Redefine a quantidade de memória e CPU com base nos rótulos padrão do nf-core
    withLabel: process_single {
        cpus   = 1
        memory = '2.GB'
    }
    withLabel: process_low {
        cpus   = 2
        memory = '4.GB'
    }
    withLabel: process_medium {
        cpus   = 4
        memory = '6.GB'
    }
    withLabel: process_high {
        cpus   = 4
        memory = '7.GB'
    }

    // Força regras extremas para as ferramentas que costumam ser mais pesadas no bacass
    withName: '.*:FASTQ_TRIM_FASTP_FASTQC:FASTP' {
        cpus   = 4
        memory = '6.GB'
    }
    withName: '.*:UNICYCLER' {
        cpus   = 4
        memory = '7.GB'
    }
    withName: '.*:PROKKA' {
        cpus   = 4
        memory = '6.GB'
    }
}
